
.neighborhood-image {
  height: 30vw;
  width: 100%;
  margin-top: 15px;
}

.restaurant-button {
  margin-top: 1vw;
  width: 11rem;
}

.user-form {
  margin-top: 20px;
  width: 18rem;
}

.form-button {
  margin-top: 30px;
}

.card-img-top {
  width: 100%;
  height: 12vw;
  overflow: hidden;
}

/* Background for login form */
.login-background {
  background-image: url("/static/img/login_background.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Background for create account form */
.create-account-background {
  background-image: url("/static/img/create_account_background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Background for post housing form */
.post-housing-background {
  background-image: url("/static/img/post_housing_background.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Background for contact seller form */
.contact-seller-background {
  background-image: url("/static/img/contact_seller_background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#map-heading {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  margin-left: auto;
  margin-right: auto;
}

.block-center {
  text-align: center;
}

#Frisco {
  margin-top: 6%;
  font-size: 5rem;
}

#subheading-Frisco {
  margin-top: 3%;
}

#button-Frisco {
  margin-top: 3%;
}

.neighborhood-header {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

h4 {
  margin-top: 20px;
  margin-bottom:10px;
}

#post-button {
  margin-left: 30%;
}

#logout-button {
  margin-left: 15px;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

table td {
  font-size: .9rem;
}

table {
  margin-bottom: 1vw;
}

.neighborhood-desc {
  margin-top: 20px;
  font-size: 1rem;
}

.form-text {
  font-size: .9rem;
  margin-bottom: .9rem;
}

.restaurant-card {
  width:100%;
  height: 24vw;
  margin-bottom: 5vw;
  margin-top: 1vw;
}

.restaurant-text {
  font-size: .8rem;
}

.post-housing-form {
  width: 37rem;
}

.posting-form-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 500;
}

.posting-form-input {
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 1.5rem;
  width: 25rem;
}

.posting-textarea-input {
  margin-right: 5rem;
  margin-left: 5rem;
  margin-bottom: 1.5rem;
  height: 6rem;
  width: 25rem;
}

.posting-form-header{
  margin-left:5rem;
}

.posting-file-input {
  margin-left: 5rem;
}

.input-posting-image {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5rem;
}

.posting-image {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.posting-form-button {
  margin-bottom: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  height: 2.5rem;
}

.find-housing-title {
  margin-top: 2rem;
}

.delete-button {
  width: 6rem;
}

.contact-seller-form{
  width: 20rem;
}

.contact-seller-input{
  width: 17rem;
}

.contact-seller-textarea{
  width: 17rem;
  height: 7rem;
}