.jobcard {
  border-radius: 1px;
  border: 1px solid rgb(189, 67, 67);
  width: 12em;
  height: 5em;
  margin: 1em;
  padding: 3em;
  display: inline-block;
}

#search-box{
  display: flex;
}

.photo {
  height: 400px;
  width: 600px;
}


