<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title> React App </title>
 
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" ></script>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/react-router@5.2.0/umd/react-router.min.js"></script>
    <script src="https://unpkg.com/react-router-dom@5.2.0/umd/react-router-dom.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script type="text/javascript">
      (function() {
    emailjs.init("user_uTFw7bspn4zVAkmNegIxE");
    })();
    </script>

    <!-- Links below are to load Bootstrap React -->
    <script src="https://unpkg.com/react-bootstrap@1.5.2/dist/react-bootstrap.min.js" crossorigin></script>
    <script var Alert = ReactBootstrap.Alert;></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Links above are to load Bootstrap React-->

    <!-- Loading potential sheets below to get Material UI with React to work -->
      <!-- Compiled and minified CSS 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

       Compiled and minified JavaScript 
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     Loading potential sheets above to get Material UI with React to work -->


    <link href="/static/css/site.css" rel="stylesheet">
</head>
  <body>
    <div id="root"></div>
    <script src="static/js/root.jsx" type="text/jsx"></script>
  </body>
</html>